.footer{
    background-color: $color-balck;
    padding: $spc-xxl;

    & a{
        color: $color-white;
    }

    &__section{
        @include section-display();
        flex-direction: row-reverse;

        &__navbar{
            @include header-footer-navbar;

            &__left{
                @include footer-navbar-heading;

                &__title{
                    @include footer-navbar-title;
                }

                &__item{
                    font-size: $spc-m;
                }
            }

            &__center{
                @include footer-navbar-heading;

                &__item{
                    font-size: $spc-m;
                }

                &__title{
                    @include footer-navbar-title;
                }
            }

            &__right{
                @include footer-navbar-heading;

                &__item{
                    font-size: $spc-m;
                }

                &__title{
                    @include footer-navbar-title;
                }
            }
        }
    }
}