*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    display: inline-block;
    color: inherit;
    text-decoration: none;
}

.container{
    max-width: $max-width;
    margin-left: auto;
    margin-right: auto;
}