// background colors
$bg-main: hsl(0, 3%, 26%);
$bg-secondary: hsl(0, 50%, 51%);
$bg-primary: hsl(0, 0%, 0%);

// spacings
$spc-2: 2px;
$spc-4: 4px;
$spc-6: 6px;
$spc-8: 8px;

// font weights
$light: 100;
$medium: 500;
$bold: 900;